<template>
  <div class="hello">
    <p>The API returned the following message:</p>
    <div class="message"> {{ msg }}</div>

  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  methods: {
    created: function () {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
  .message{
    background-color: lightgray;
    border: 1px darkgray solid;
    width: 250px;
    margin: auto;
    padding: 5px;
    font-size: .75em;
  }
</style>
