<template>
    <div id="app">
        <img alt="Vue logo" src="./assets/logo.png">
        <HelloWorld :msg="msg"/>

      <br />
      <button class="call-button" v-on:click="callApi" >Call API</button>
    </div>
</template>

<script>
    import HelloWorld from './components/HelloWorld.vue'
    import axios from "axios";

    export default {
        name: 'App',
        data() {
            return {
                msg: ''
            };
        },
        created: async function () {
            this.callApi();
        },
        components: {
            HelloWorld
        },
        methods: {
          callApi: async function () {
            let response;
            try {
              response = (await axios.get('gateway/app/message')).data
            }catch (e) {
              response = e;
            }
            this.msg = response;
          }
        }
    }
</script>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;

    }
  .call-button{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    border: 1px black solid;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
    color: white;
    font-weight: bold;
    background-color: steelblue;
  }
</style>
